.cart {
    width: 80%;
    padding: 1rem;
    margin: auto;
}

.cart h2 {
    margin: 1rem 0;
}

.cart h3 {
    font-size: 1.5rem;
    padding: 1rem;
}

.view-container {
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    margin: auto;
}

.view-box {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
   
}

.view-box li {
    width: 8rem;
    height: 8rem;
    margin: 1.5rem 0.5rem;
}

.view-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.view-container button {
    width: 2rem;
    background-color: transparent;
    margin: auto;
}

.view-container button img{
    width: 100%;
}

.button-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
}

.back-button {
    width: 100%;
    max-width: 15rem;
    font: inherit;
    color: #fcb541;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fcb541;
    padding: 0.5rem 1rem;
}

.back-button:hover {
    color: #fff;
    background-color: #fcb541;
}

.check-button {
    width: 100%;
    max-width: 15rem;
    font: inherit;
    color: #fff;
    cursor: pointer;
    background-color: #fcb541;
    border: 1px solid #fcb541;
    padding: 0.5rem 1rem;
}

.check-button:hover {
    background-color: #ffab04;
}

.cart-photo {
    width: 2rem;
    height: 2rem;
}

.cart-photo img {
    width: 100%;
    height: 100%;
}

@media (max-width: 740px) {
    .cart {
        padding: 0;
        margin: auto;
    }

    .cart h2 {
        font-size: 2rem;
    }

    .view-box {
        width: 100%;
        gap: 1rem;
        border: none;
        margin: 1rem auto;
    }

    .view-box li {
        width: 5rem;
        height: 5rem;
        margin: 0.5rem 0.1rem;
    }

    .view-box button {
        width: 2rem;
        position: absolute;
        bottom: 0;
        right: 1rem;
        background-color: transparent;

    }

    .button-box {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: auto;
    }

    .back-button,
    .check-button {
        width: 50%;
        font: inherit;
        color: #fff;
        cursor: pointer;
        background-color: #fcb541;
        padding: 0.5rem 1rem;
        margin: 0 auto;
    }
}