.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.carousel li {
    width: 100%;
    list-style: none;
}

.slide {
    width: 100%;
    transition: transform 5s ease-out;
}

.slide:hover {
    transform: scale(1.1);
}

.slide-hidden {
    display: none;
}

.dots {
    position: absolute;
    bottom: 1rem;
}

.dot {
    background-color: rgba(255, 255, 255, 0.8);
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 3px rgb(188, 187, 187);
    margin: 0.75rem;
    padding: 0;
}

.dot-action {
    background-color: rgba(188, 187, 187, 0.7);

}

.gallery-box {
    width: 90%;
    margin: 2rem auto;
}

.greet-box {
    width: 80%;
    max-width: 35rem;
    margin: 4rem auto;
}

.gallery-box h2 {
    line-height: 2rem;
    padding: 0;
}

.greet-box p {
    font-size: 1.1rem;
    margin: 1.5rem auto;
}

.greet-box span {
    font-size: 1.4rem;
}

.prise-box {
    width: 100%;
    display: flex;
    padding: 2rem 0;
}

.prise-box img {
    width: 60%;
    max-width: 40rem;
    object-fit: cover;
}

.prise-detail {
    width: 40%;
    text-align: left;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding: 2rem;
    margin: 0 auto;
}

.prise-detail h3 {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.prise-detail h4 {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.prise-detail ul {
    font-size: 1.1rem;
    padding: 1rem 0;
}

.prise-detail p {
    font-size: 1.2rem;
    padding: 0.25rem 0;
}

.faq-box {
    width: 90%;
    padding: 1rem 0;
    margin: auto;
}

.faq-box h1 {
    padding: 1rem 0;
}

.question {
    width: 80%;
    max-width: 50rem;
    border-bottom: 0.1rem solid #c1c1c1;
    margin: 0.5rem auto;
}

.question button {
    position: relative;
    font-size: 1.1rem;
    text-align: left;
    background-color: transparent;
    width: 100%;
    padding: 0.5rem;
}

.question span {
    position: absolute;
    font-size: 1.5rem;
    right: 1.5rem;
}

.question button:hover {
    font-weight: bold;
}

.answer {
    text-align: left;
    padding: 0.5rem;
}

.contact-btn {
    width: 80%;
    max-width: 50rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem 0;
    margin: 2rem auto;
}

.contact-btn img {
    width: 1.75rem;
    transition: 0.5s ease;
}

.contact-btn img:hover {
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.contact-left {
    flex-grow: 1;
}

.contact-middle {
    width: 10rem;
    flex-grow: 1;
}

.contact-right {
    flex-grow: 1;
}

.contact-btn h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.contact-btn p {
    padding: 2rem;
}

.contact-btn button {
    font: inherit;
    width: 12rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #fcb541;
    border: none;
    padding: 0.5rem 1rem;
}

.contact-btn button:hover {
    background-color: #fbbc57;
}

@media (max-width: 740px) {
    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide {
        max-width: 100%;
        height: 30rem;
        object-fit: cover;
        object-position: center;
    }

    .nav {
        display: none;
    }

    #drawer-btn {
        display: flex;
    }

    .gallery-box {
        width: 100%;
    }

    .gallery-box .babyshooting {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    } 

    .prise-box {
        display: block;
        text-align: center;
    } 

    .prise-box img {
        width: 100%;
    }
    
    .gallery-box h2 {
        font-size: 2.5rem;
        padding: 0;
    }

    .prise-detail {
        width: 80%;
        border-top: none;
        padding: 1rem 0;
        margin: 1rem auto;
    }

    .faq-box {
        width: 80%;
    }

    .question {
        width: 100%;
        margin: 0.5rem 0;
    }

    .question span {
        position: absolute;
        right: 0.5rem;
        bottom: 0.2rem
    }

    .contact-btn {
        flex-wrap: wrap;
        padding: 2rem;
        margin: 0 auto;
    }

    .contact-middle {
        width: 100%;
        border: none;
        order: -1;
        padding: 2rem 0;
    }

    .contact-btn p {
        padding: 2rem 0;
    }

    .contact-left,
    .contact-right {
        margin: 0 2rem;
    }

    .contact-btn img {
        width: 1.5rem;
    }
}