.main-box {
    display: flex;
}

.photos {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    grid-auto-rows: 10rem; 
    gap: 2rem;
    margin: 2rem auto;
}

.li {
    position: relative;
    width: 10rem;
    height: 10rem;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    margin: auto;
}

.photos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.photos p {
    margin: auto;
}

.button {
    position: absolute;
    top: 3px;
    left: 3px;
    cursor: pointer;
    line-height: 1.15;
    color: #7b7a7a;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    padding: 0 5px;
    display: none;
}

.photos li:hover .button {
    display: block;
}

.button:hover {
    background-color: #d5d5d5;
}

.li-selected {
    border: 3px solid #4b79f9;
}

.button-selected {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    line-height: 1.05;
    background-color: #4b79f9;
    border: 1px solid #4b79f9;
    border-radius: 4px;
    padding: 0 5px;
}

.button-selected::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 0.1em 0.1em 0;
    height: 0.5em;
    top: 0.15em;
    left: 0.35em;
    margin-top: 0.2;
    transform: rotate(45deg);
    width: 0.25em;
}

.photo-name {
    font-size: 0.8rem;
    color: #7b7a7a;
}

.preview-box {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.top-button {
    width: 100%;
    position: relative;
    padding: 1rem 0;
}

.top-button button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font: inherit;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    padding: 0 7px;
}

.top-button button:hover {
    background-color: #7b7a7a;
    ;
}

.preview-box img {
    max-width: 60rem;
    max-height: 40rem;
    margin: 0.5rem;
}

.preview-config {
    position: relative;
}

.config-box {
    margin: auto;
}

.preview-box span {
    color: #fff;
}

.left,
.right {
    font: inherit;
    color: #fff;
    background-color: transparent;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    padding: 0 7px;
    margin: 0 0.5rem;
}

.left:hover {
    background-color: #7b7a7a;
    ;
}

.right:hover {
    background-color: #7b7a7a;
}

.config-button {
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.preview-button {
    font: inherit;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
}

.preview-button:hover {
    background-color: #7b7a7a;
}

.preview-button-selected {
    position: relative;
    color: #fff;
    cursor: pointer;
    background-color: #4b79f9;
    border: 1px solid #4b79f9;
    border-radius: 4px;
    padding: 0.25rem 0.5rem 0.25rem 1.5rem;
}

.preview-button-selected:hover {
    background-color: #83a3f9;
    border: 1px solid #4b79f9;
}

.preview-button-selected::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 0.1rem 0.1rem 0;
    height: 0.5rem;
    top: 0.6rem;
    left: 0.7rem;
    margin-top: 0.2;
    transform: rotate(45deg);
    width: 0.2rem;
}

.album-product {
    width: 6rem;
    height: 10rem;
}

@media (max-width: 740px) {
    .main-box {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .photos {
         grid-template-columns: repeat(auto-fill, 5rem);
         gap: 1rem;
    }
    .li {
        width: 5rem;
        height: 5rem;
    }
    .photos img {
        object-fit: cover;
        border-radius: 6px;
    }
    .preview-button:hover {
        background-color: transparent;
    }
    .config-button {
        bottom: -0.25rem;
        right: 1rem;
    }
}