.product-aside {
    width: 80%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #707070;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    margin: auto;
}

.product-aside-img {
    width: 100%;
    max-width: 35rem;
    display: flex;
    justify-content: left;
    gap: 0.5rem;
}

.product-aside-img img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 6px;
    margin: auto;
}

.product-aside button {
    font: inherit;
    color: #fff;
    cursor: pointer;
    background-color: #fcb541;
    border: none;
    padding: 0.5rem 1rem;
}

.product-aside button:hover {
    background-color: #ffcf82;
}

.products {
    width: 80%;
    max-width: 70rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 3rem;
    background-color: linear-gradient(#ffe188, hsl(209, 96%, 82%));
    margin: 2rem auto;
}

.product {
    border: 1px solid #8e8e8e;
    box-shadow: 0 0 2px 1px rgba(52, 52, 52, .3);
    border-radius: 6px;
    overflow: hidden;
}

.product article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

.image {
    width: 100%;
    height: 10rem;
    padding: 0;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-box {
    color: #fff;
    background-color: #4e4e4e;
    padding: 0.5rem 0 1rem 0;
}

.product-name {
    margin: 0.5rem;
}

.details-box {
    width: 80%;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}

.details-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-left h3 {
    font-size: 1.5rem;
    margin: 2rem auto;
}

.details-right {
    width: 40%;
    min-width: 18rem;
    border: 1px solid #8d8d8d;
    box-shadow: 0 0 2px 1px rgba(52, 52, 52, 0.3);
    border-radius: 6px;
    margin: 0 3rem;
}

.select-form {
    width: 15rem;
    padding: 2rem 0;
    margin: 0 auto;
}

.select-form label {
    font: inherit;
    font-weight: bold;
    text-align: left;
}

.select-form select {
    font: inherit;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 6px;
    padding: 0.25rem 1rem;
}

.select-form select:hover {
    border-color: #fcb541;
}

.details-right p {
    margin-bottom: 2rem;
}

.add-button {
    width: 15rem;
    font: inherit;
    color: #fff;
    cursor: pointer;
    background-color: #fcb541;
    border: none;
    padding: 0.5rem 1rem;
} 

.album-item:hover .delete-button {
    display: block;
}


.add-button:hover {
    background-color: #ffcf82;
}

.on-decrease {
    font: inherit;
    font-size: 0.8rem;
    width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #8d8d8d;
    border-radius: 6px;
}

.on-decrease button {
    font: inherit;
    font-size: 0.8rem;
    width: 15rem;
    border-radius: 6px;
    padding: 0.25rem 0;
} 
.quantity {
    font: inherit;
    font-size: 0.8rem;
    width: 15rem;
}

.detail-aside {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #707070;
    border-radius: 0 0 10px 10px;
}

.detail-aside-img {
    width: 100%;
    max-width: 35rem;
    display: flex;
    justify-content: left;
    gap: 0.5rem;
}