@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Hind+Vadodara:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Quicksand:wght@400;700&family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root{
  font-family: 'Afacad', sans-serif;
  overflow-y: overlay;
}

:root, html, body {
  width: 100%;
  margin: auto;
  color: #7b7a7a;
  background-color: #fff;
  
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  margin: auto;
  text-align: center;
  min-height: 100vh;
  background-color: #fafafa;
}

.photo-album img {
  max-width: 100px;
  height: auto;
  border-radius: 10px;
}


