.customer-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.customer-aside {
    width: 18rem;
    background-color: #f1f1f1;
    padding: 0 2rem;
}

.customer-aside h2 {
    font-size: 2rem;
    padding: 0;
    margin: 2rem auto;
}

.customername li {
    margin: 1rem auto;
    text-align: left;
}

.customer-name {
    color: #7b7a7a;
}

.customer-name:hover {
    color: #434343;
}

.table-container {
    width: 100%;
    font-size: 1.1rem;
    overflow-x: auto;
    background-color: #fff;
    border-radius: 6px;
    margin: 2rem;
    align-self: flex-start;
}

.customer-table {
    min-width: 50rem;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.customer-table th:first-child {
    position: sticky;
    left: 0;
    background-color: #f1f1f1;
    padding: 1rem 2rem;
    z-index: 2;
}

.customer-table td:first-child {
    position: sticky;
    left: 0;
    padding: 1rem 2rem;
    z-index: 2;
}

.customer-table td:nth-child(3) {
    min-width: 15rem;
}

.customer-table td:nth-child(5) {
    text-align: center;
}

.customer-table th {
    background-color: #f1f1f1;
    padding: 1rem 2rem;
}

.customer-table td {
    background-color: #fff;
    padding: 1rem 2rem;
}

.customer-delete-btn {

    width: 2rem;
    height: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    padding: 0 5px;
}

.customer-delete-btn img {
    width: 100%;
}

.table-body tr {
    border-bottom: 2px solid #f1f1f1;
}

.table-body tr:hover td {
    background-color: #fafafa;
}

.customer-detail {
    position: relative;
}

.detail-container {
    width: 80%;
    max-width: 40rem;
    font-size: 1.2rem;
    text-align: left;
    margin: auto;
}

.customer-address {
    display: flex;
    margin-top: 1rem;
}

.detail-container p {
    text-transform: uppercase;
    font-weight: 700;
}

.detail-container span {
    padding: 0 0.5rem;
}

.detail-container h2 {
    padding: 2rem;
}

.order-box {
    margin: 3rem auto;
}

.arrowleft {
    position: absolute;
    left: 4rem;
    top: 2.5rem;
    background-color: transparent;
}

.arrowleft img {
    width: 2.5rem;
}

.photo-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 5rem);
    grid-template-rows: 7rem;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0.5rem auto;
}

.photo-list img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.photo-list span {
    display: block;
    font-size: 0.9rem;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.contact-aside {
    width: 18rem;
    background-color: #f1f1f1;
    padding: 0 2rem;
}

.contact-aside h2 {
    font-size: 2rem;
    padding: 0;
    margin: 2rem auto;
}

.message-button button{
    font: inherit;
    width: 100%;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

.message-container {
    width: 100%;
    margin: auto;
}

.contact-li {
    position: relative;
    width: 80%;
    max-width: 60rem;
    text-align: left;
    border-radius: 6px;
    border: 2px solid #f1f1f1;
    margin: 1rem auto;
}

.checkbox {
    position: absolute;
    top: 7rem;
    left: -2rem;
    transform: translateX(-50%);
}

.contactbox {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #f1f1f1;
    padding: 1rem 2rem;
}

.contactdata p {
    text-transform: uppercase;
}

.contact-info {
    display: flex;
    margin: 0.5rem 0;
}

.contact-address span {
    padding: 0 0.5rem;
}

.time {
    text-align: right;
}

.messagebox {
    background-color: #fafafa;
    padding: 1rem 2rem;
}

.pagination button {
    background-color: transparent;
    padding: 0 0.5rem;
}

.contact-button .delete-all-btn {
    margin: 0;
}

@media (max-width: 740px) {
    .customer-box {
        width: 100%;
        display: block;
    }

    .customer-aside {
        width: 100%;
    }

    .customer-aside h2 {
        font-size: 2rem;
        padding: 1rem 0;
        margin: 0;
    }

    .customername li {
        display: none;
    }

    .table-container {
        font-size: 1rem;
        margin: 2rem 0;
    }

    .detail-container h2 {
        font-size: 2rem;
        padding: 2rem 0;
        margin: auto;
    }

    .customer-address {
        display: block;
    }

    .detail-container span {
        padding: 0;
    }

    .order-box {
        width: 100%;
        border-top: 2px solid #f1f1f1;
        margin: 1rem auto;
    }

    .order-box h3 {
        margin: 1rem auto;
    }

    .detail-container h2 {
        font-size: 2rem;
    }

    .arrowleft {
        left: 1rem;
        top: 2.25rem;
        background-color: transparent;
    }

    .arrowleft img {
        width: 1.75rem;
    }

    .contact-container {
        width: 100%;
        padding: 1rem 0;
    }

    .contactbox {
        display: block;
        padding: 1rem;
    }

    .time {
        text-align: left;
    }

    .contact-container {
        display: block;
        padding: 0;
    }
    .contact-aside {
        width: 100%;
        padding: 0;
    }
    .contact-aside h2 {
        padding: 1rem 0;
        margin: 0 auto;
    }
    .message-button {
        width: 100%;
        display: flex;
        gap: 1rem;
        background-color: #fafafa;
    }
    .messagebox {
        padding: 1rem;
    }
    .checkbox {
        top: 1rem;
        left: -1rem;
        transform: translateX(50%);
    }
    .message-button .select-all-btn {
        margin-left: 2rem;
    }
    .message-button .delete-all-btn {
        margin-right: 2rem;
    }
}